*{
    margin: 0;
    padding: 0;
}

.box{
    width: 300px;
    height: 150px;
    margin: 30px;
    border-radius: 12px;
    padding: 12px;
    background-color: rgb(120, 184, 18);
    transform: rotate(40deg);
    transition-duration: 4s;
    margin-left: 40px;
    margin-top: 20%;
    animation-duration: 10s;
    animation-name: box-animation;
    animation-iteration-count: infinite;
        
    

}
@keyframes box-animation{
    from{
        background-color: brown;
        margin-left: 80%;
        margin-top: 30%;
        
    }
    to{
        margin-top: 25%;
      background-color: blue;

    }


    h1{
        font-size: 80px;
        margin: 70px;
        animation-name: tex-animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

}



 

